# Engine generated folders
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Files Visual Studio / Rider
.vs/
.vsconfig
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.idea/

# System files
.DS_Store
Thumbs.db

# Plugins
Plugins/*/Binaries/
Plugins/*/Intermediate/